@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Recursive', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: #fffefd;
}

main {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.button_wrapper {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

button {
    height: 7rem;
    width: 7rem;
    font-family: 'Recursive', sans-serif;
    font-size: 2rem;
    font-weight: 500;    
    background: #ff64f7;
    border: black 3px solid;
    border-radius: 50%;
    box-shadow: #FED41D -4px 4px ;
    transition: 0.2s ease-in-out;
}

button:hover {
    color: #fffefd;
}

button:active {
    box-shadow: #ffa600 -2px 2px;
    transform: translate(-2px, 2px);
}

figure {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: auto;
    height: 18rem;
    transition: 1s ease-in-out;
}

figure p {
    text-align: center;
    font-size: 1.1rem;
    width: 80%;
    font-weight: 400;
    max-width: 30rem;
}